#### IMF Data

In [ ]:
import pandas as pd
import json
import requests

In [ ]:
response = requests.get('https://www.imf.org/external/datamapper/api/v1/NGDPD')
GDP_results = response.json()

GDP_results.get('values').get('NGDPD').get('USA')

In [ ]:
response = requests.get('https://www.imf.org/external/datamapper/api/v1/countries')
available_countries = response.json()

# Iterating over each key, value pair in the 'countries' dictionary
for c, details in available_countries.get('countries', {}).items():
    label = details.get('label') # Getting the value of 'label' key in the dictionary pointed by 'c'
    if label is not None:  # Check to ensure 'label' exists before printing
        print(label)

In [6]:
migration_df = pd.read_csv('IRS_county_to_county_migration_2017-2021.csv')
len(migration_df)

447621

In [14]:
unwanted_values = [
    'Other flows - Midwest',
    'Other flows - South',
    'Other flows - West',
    'Other flows - Northeast',
    'Foreign - APO/FPO ZIPs',
    'Foreign - Other flows'
]

adj_df_1 = migration_df[~migration_df['dest_county'].isin(unwanted_values)]
adj_df_1.head(50)

,year,dest_state_id,dest_county_id,orig_state_id,orig_county_id,dest_state,dest_county,returns,individuals,adj_gross_income
0,2017,1,1,96,0,AL,Autauga County Total Migration-US and Foreign,2400,5702,1.250690e+08
1,2017,1,1,97,0,AL,Autauga County Total Migration-US,2366,5573,1.226960e+08
2,2017,1,1,97,1,AL,Autauga County Total Migration-Same State,1516,3352,6.618700e+07
3,2017,1,1,97,3,AL,Autauga County Total Migration-Different State,850,2221,5.651000e+07
4,2017,1,1,98,0,AL,Autauga County Total Migration-Foreign,34,129,2.373000e+06
5,2017,1,1,1,1,AL,Autauga County Non-migrants,17484,39711,1.106647e+09
6,2017,1,1,1,51,AL,Elmore County,535,1155,2.366600e+07
7,2017,1,1,1,101,AL,Montgomery County,454,1039,1.979900e+07
8,2017,1,1,1,21,AL,Chilton County,83,220,3.006000e+06
9,2017,1,1,1,47,AL,Dallas County,82,195,2.917000e+06
10,2017,1,1,1,73,AL,Jefferson County,53,108,2.488000e+06
11,2017,1,1,1,117,AL,Shelby County,43,91,1.688000e+06
13,2017,1,1,1,81,AL,Lee County,28,54,1.261000e+06
14,2017,1,1,48,29,TX,Bexar County,23,72,1.713000e+06
15,2017,1,1,1,125,AL,Tuscaloosa County,22,45,1.137000e+06
16,2017,1,1,58,0,SS,Other flows - Same State,216,445,1.022500e+07
17,2017,1,1,59,0,DS,Other flows - Different State,827,2149,5.479700e+07
23,2017,1,3,96,0,AL,Baldwin County Total Migration-US and Foreign,8828,17981,5.942630e+08
24,2017,1,3,97,0,AL,Baldwin County Total Migration-US,8828,17981,5.942630e+08
25,2017,1,3,97,1,AL,Baldwin County Total Migration-Same State,3055,6204,2.082510e+08
26,2017,1,3,97,3,AL,Baldwin County Total Migration-Different State,5773,11777,3.860120e+08
27,2017,1,3,98,0,AL,Baldwin County Total Migration-Foreign,-1,-1,-1.000000e+03
28,2017,1,3,1,3,AL,Baldwin County Non-migrants,70147,151156,4.885943e+09
29,2017,1,3,1,97,AL,Mobile County,1339,2696,9.377200e+07
30,2017,1,3,12,33,FL,Escambia County,491,973,2.694900e+07
31,2017,1,3,1,73,AL,Jefferson County,257,503,1.873000e+07
32,2017,1,3,1,117,AL,Shelby County,155,307,1.157800e+07
33,2017,1,3,1,53,AL,Escambia County,126,300,5.600000e+06
34,2017,1,3,1,125,AL,Tuscaloosa County,123,230,7.709000e+06
35,2017,1,3,12,113,FL,Santa Rosa County,89,186,4.384000e+06
36,2017,1,3,1,101,AL,Montgomery County,84,177,8.153000e+06
37,2017,1,3,1,89,AL,Madison County,83,157,1.003400e+07
38,2017,1,3,1,81,AL,Lee County,78,154,4.783000e+06
39,2017,1,3,47,157,TN,Shelby County,77,160,6.254000e+06
40,2017,1,3,48,201,TX,Harris County,62,132,9.232000e+06
41,2017,1,3,12,91,FL,Okaloosa County,57,99,2.412000e+06
42,2017,1,3,28,47,MS,Harrison County,57,109,3.500000e+06
43,2017,1,3,1,51,AL,Elmore County,51,100,3.854000e+06
44,2017,1,3,13,67,GA,Cobb County,51,95,4.703000e+06
45,2017,1,3,28,59,MS,Jackson County,46,107,3.221000e+06
46,2017,1,3,1,25,AL,Clarke County,45,97,3.683000e+06
47,2017,1,3,1,55,AL,Etowah County,43,94,2.572000e+06
48,2017,1,3,1,103,AL,Morgan County,41,85,2.283000e+06
49,2017,1,3,28,121,MS,Rankin County,41,70,2.660000e+06
50,2017,1,3,22,33,LA,East Baton Rouge Parish,40,84,2.997000e+06
51,2017,1,3,1,115,AL,St. Clair County,39,79,3.255000e+06
52,2017,1,3,47,37,TN,Davidson County,39,58,3.158000e+06
53,2017,1,3,1,15,AL,Calhoun County,38,88,1.943000e+06
54,2017,1,3,6,37,CA,Los Angeles County,38,68,2.625000e+06
55,2017,1,3,12,95,FL,Orange County,38,60,2.834000e+06